fastapi
uvicorn[standard]
numpy
pandas
matplotlib
SQLAlchemy
pyodbc
prophet
python-multipart
streamlit
python-dotenv
openpyxl
langchain
langchain-openai
langchain-community
cmdstanpy
python-dotenv
typing-extensions
tqdm

